<!DOCTYPE html>
<html>
<head>
  <title>About me</title>
  <link href="https://fonts.googleapis.com/css?family=Abel|Amatic+SC|Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'aboutme.css' %}" />
</head>
<body>

  <div class="navigation">
    <ul>
      <li>Home</li>
      <li>Categories</li>
      <li id="logo">Blog</li>
      <li>Photos</li>
      <li>Contact Me</li>
    </ul>
  </div>

  <div id="cover">
    <div class="cover-content">
      <h1>This is me...then</h1>
      <h2>Who I am and what I dream about</h2>
      <a href="#" class="btn">Get to know me!</a>
    </div>
  </div>

<div class="mystory">
    <h2>That's me. Nice quiet girl. I think that's how people who don't know me perceive me. But the truth is I'm not that kind of person.
    I just pretend to be like this...</h2>
</div>
  
</body>
</html> 