{% extends 'base.html' %}



{% block title %}About me{% endblock %}


    {% block cover %}
  <div id="cover">
    <div class="cover-content">
      <h1>This is me...then</h1>
      <h2>Who I am and what I dream about</h2>
      <a href="{% url 'blog' %}" class="btn">Get to know me!</a>
    </div>
  </div>
{% endblock %}
{% block content %}
<div class="mystory">
    <h2>That's me. Nice quiet girl. I think that's how people who don't know me perceive me. But the truth is I'm not that kind of person.
    I just pretend to be like this...</h2>
</div>
  
{% endblock %}