<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/styles.css" />
    <title>{% block title %}Magda's BLOG{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="{% url 'index' %}">Index</a> </li>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'home' %}">Blog</a></li>
            <li><a href="">About Me</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>