{% extends "base.html" %}


{% block title %}Blog{% endblock %}
{% block content %}
    <h1><a>Wszystko co ważne w jednym miejscu:</a></h1>
{% for post in post_list %}
    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
    <p class="category">{{ post.posted|date:"Y.m.d" }} | Komentarze:: {{ post.comments.count }} | Kategoria:: {{ post.category}}</p>
    <div class="short_post">
    <p>{{ post.body| truncatewords:50 }}</p>
    </div>
{% endfor %}

{% include 'snippets/pagination.html' %}

{% endblock %}

