{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ gallery.title }}{% endblock %}

{% block content %}
    <h1 class="page-header">{{ gallery.title }}</h1>

    <div class="container-fluid">
    <p class="muted">{% trans "Opublikowane::" %} {{ gallery.date_added }}</p>
    <div class="row">
    <div class="col-md-4">
        {% if gallery.description %}{{ gallery.description|safe }}{% endif %}
        {% for photo in gallery.public %}
            <a href="{{ photo.get_absolute_url }}">
                <img src="{{ photo.get_thumbnail_url }}" class="thumbnail" alt="{{ photo.title }}">
	        </a>
	    {% endfor %}
            </div>
    </div>
	</div>
    <div><a href="{% url 'photologue:gallery-list' %}" class="btn btn-default">{% trans "Wróć do galerii" %}</a></div>

{% endblock %}